html {
	background-color: #C3F5AA; /*light green background*/
	justify-content: center;
}

h1 {
	text-align: center
}

body {
	width: 50%;
	margin: auto;
	background-color: #FFFFFF;
	padding: 5% 10%;
	border: 5px solid black;
}
